<h3>User Profile</h3>

<h4><%= @user.username.capitalize %>'s Posts</h4>

<% if @user.posts.any? %>
<ul>
  <% @user.posts.each do |post|%>
  <li><%= post.title %></li>
  <% end %>
</ul>
<% else %>
  <p>This user hasn't created any posts</p>
<% end %>
