<div class="center-align"><h3>Edit Post</h3>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form method="POST" action="/posts/<%= @post.id %>">
  <input type="hidden" name="_method" value="PUT">
    <input type="text" name="post[title]" value="<%= @post.title %>"><br><br>
    <textarea rows="12" cols="50" name="post[body]"><%= @post.body %></textarea>
  <input class="button" type="submit">
</form>
</div>
