<h3>Create a Post</h3>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form method="POST" action="/posts">
    <input type="text" name="title" value="<%= @post.title %>" placeholder="title">
    <textarea rows="15" cols="75" name="body" placeholder="body"><%= @post.body %></textarea>
  <input type="submit">
</form>
