<div class="center-align"><h3>Create a Post</h3>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form id="new-post" method="POST" action="/posts">
    <input type="text" name="title" value="<%= @post.title %>" placeholder="title"><br><br>
    <textarea form="new-post" rows="12" cols="50" name="body" placeholder="body"><%= @post.body %></textarea>
  <input type="submit">
</form>
</div>
