<div class="center-align"><h3><%= @post.title %></h3>

<p><%= @post.body %></p>

<% if authorized?(@post.user) %>
<a id="shorty" class="button" href="/posts/<%= @post.id %>/edit">Edit</a>

<form method="POST" action="/posts/<%= @post.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input class="button" type="submit" value="Delete">
</form>
<% end %>
</div>
